:root {
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --basic-blue: #81B3D2;
    --basic-onemore-black: #333333;
    --basic-grey: #A9A9A9;
    --basic-lightgrey: #F2F2F2;
    --basic-middleblue: #23A9E1;
    --basic-lightblue: #81B3D3;
    --basic-chocolateblack: #231F20;
    --basic-cacaocolor: #491213;
    --basic-deepgrey: #766357;
    --basic-deepgraytwo: #766458;
    --basic-orange: #DC6243;
    --basic-middlegrey: #EEEEEE;
    --basic-lightorange: #F49774;
    --basic-rose: #F4B1A4;
    --basic-brown: #604E43;
    --basic-browny: #503E33;
    --basic-greytwo: #EBEBEB;
    --basic-whitetwo: #E5E5E5;
    --basic-bluetwo: #669EC0;
    --basic-activeblue: #5496BD;
    --basic-white-opy-03: rgb(255, 255, 255, 0.3);
    --basic-raiting: #666666;
    --basic-background: #f2f2f2;
    --basic-footer-opy-09:  rgba(255, 255, 255, 0.9);
}
*, *::before, *::after { 
    box-sizing: border-box; 
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
body {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-background);
    background-position: top center;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
    position: relative;
}
.container {
    background-color: var(--basic-white);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    background-color: transparent;
}
.site-navigation li {
    width: 25%;
}
.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
    text-align: left;
}
.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
    text-align: right;
}
.site-navigation li:nth-child(1) {
    padding-left: 71.5px;
}
.site-navigation li:nth-child(2) {
    padding-left: -15px;
}
.site-navigation li:nth-child(4) {
    padding-right: 72.5px;
}
.site-navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    padding-left: 0;
    justify-content: space-around;
    background-color: var(--basic-white);
    color: var(--basic-black);
    list-style: none;
    max-width: 1200px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.logo-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.welcome-main {
    background: no-repeat;
    width: 457x;
    height: 351px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 76px;
}
.main-navigation a:hover {
    color: var(--basic-lightblue);
}
.main-navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
}
.nav-link {
    color: var(--basic-black);
}
.nav-link:visited {
    color: var(--basic-black);
}
.welcome-background {
    background: var(--basic-blue) url("../img/background.jpg");
    width: 1200px;
    height: 509px;
    display: block;
    text-align: center;
}
.motto {
    padding-top: 41px;
}
.motto p {
    padding-top: 14px;
    color: var(--basic-onemore-black);
}
p.five-reasons {
    padding-top: 30px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0px;
}
.features {
    text-align: center;
    padding-bottom: 51px; 
}
.reasons-two {
    display: flex;
    flex-wrap: wrap;
}
.reasons {
    display: flex;
    flex-wrap: wrap;
    order: (-1);
    width: 1200px;
    min-height: 256px;
}
.reason-one,
.else-reason {
    width: 400px;
    background-color: var(--basic-blue);
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}
.first-picture-of-reason {
    background: var(--basic-lightorange) url("../img/trueCity.png");
    background-image: no-repeat;
    width: 800px;
}
.second-picture-of-reason {
    order: -1;
    background: var(--basic-lightorange) url("../img/devilsBrige.png");
    background-image: no-repeat;
    width: 800px;
    min-height: 256px;
}
.explanations {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 38px;
    color: var(--basic-white);
}
.numbers {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 27px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    color: var(--basic-white);
    padding-bottom: 24px;
}
.numbers-other {
    text-align: center;
    color: var(--basic-onemore-black);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    padding-top: 2px;
    padding-right: 2px;
}
.attractives {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    color: var(--basic-white);
    padding-left: 5px;
}
.entertainment {
    position: relative;
    padding-top: 60px;
    padding-bottom: 69px;
}
.entertainment ul {
    margin: 0 auto;
    padding-left: 0;
}
.recommended,
.positives {
    list-style: none;
}
.topics-first{
    padding-top: 20%;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.recommended:nth-child(2) {
    padding-top: 2px;
    padding-left: 10px;
}
.recommended:nth-child(3) {
    padding-top: 4px;
    padding-left: 20px;
}
.topics,
.topics-more {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 25px;
}
.topics-more {
    padding-right: 5px;
}
.positives:nth-child(1),
.positives:nth-child(2) {
    padding-left: 21px;
}
.entermended {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 0 auto;
    width: 1200px;
    position: relative;
}
.recommended {
    justify-self: center;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    width: 33%;
    position: relative;
}
.recommended:nth-child(1)::before {
    content: "";
    position: absolute;
    background-image: url("../img/houseIcon.svg");
    width: 75px;
    height: 72px;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
}
.recommended:nth-child(2)::before {
    content: "";
    position: absolute;
    background-image: url("../img/food.svg");
    width: 75px;
    height: 72px;
    background-repeat: no-repeat;
    left: 51%;
    transform: translateX(-50%);
}
.recommended:nth-child(3)::before {
    content: "";
    position: absolute;
    background-image: url("../img/gift.svg");
    width: 75px;
    height: 78px;
    background-repeat: no-repeat;
    left: 54%;
    bottom: 64%;
    transform: translateX(-50%);
}
.positives-more {
    background-color: var(--basic-middlegrey);
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-left: 0;
}
.motivation,
.motivation-other {
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-onemore-black);
    padding-top: 5px;
    padding-left: 3px;
}
.positives p {
    padding-top: 7px;
    padding-right: 6px;
    padding-bottom: 40px;
}
.motivation-other {
    padding-left: 5px;
}
.invitation {
    position: relative;
    text-align: center;
    color: var(--basic-black);
    font-size: 30px;
    line-height: 24px;
    padding-top: 33px;
}
.planning-dates {
    text-align: center;
    color: var(--basic-black);
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    padding-top: 9px;
    padding-bottom: 28px;
}
button.searching {
    width: 568px;
    background-color: var(--basic-deepgrey);
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    padding: 29px;
    position: relative;
}
button.searching:hover {
    background-color: var(--basic-brown);
}
button.searching:active {
    background-color: var(--basic-browny);
    color: var(--basic-white-opy-03);
}
.hotel-search{
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: var(--basic-white);
    width: 568px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 78px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px transparent;
    display: none;
}
@keyframes bounce{
    0% {
        transform: translateY(-2000px);
    
    }
    70% {
        transform: translateY(30px);
    
    }
    90% {
        transform: translateY(-10px);
    
    }
    100% {
        transform: translateY(0);
    }
}
.hotel-search-show{
    display: flex;
    animation-name: bounce;
    animation-duration: 0.6s;
    transform: translateX(-50%);
}
.location-map {
    background: var(--basic-grey);
    width: 1200px;
    height: 596px;
}
.hotel-search p {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
}
.hotel-search input:hover {
    background-color: var(--basic-greytwo);
}
.count {
    background-color: var(--basic-lightgrey);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-black);
    width: 38px;
    height: 38px;
    border: 0px;
    text-align: center;
}
.count input {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    padding-right: 20px;
}
.dates {
    background-color: var(--basic-lightgrey);
    width: 346px;
    height: 38px;
    border: 0px;
    font-size: 14px;
    line-height: 38px;
    color: var(--basic-black);
    padding-left: 12px;
}
.inputs-one input::placeholder,
.inputs-two input::placeholder {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    text-transform: uppercase;
}
.dates-labels-one,
.dates-labels-two,
.dates-labels-children,
.dates-labels-adults {
    width: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--basic-black);
    text-align: left;
}
.dates-labels-adults {
    padding-left: 3px;
    padding-bottom: 3px;
    margin-right: 12px;
}
.dates-labels-one {
    padding-right: 20px;
    margin-bottom: 10px;
}
.dates-labels-two {
    padding-right: 18px;
}
.dates-labels-children {
    text-align: right;
    margin-right: 21px;
    padding-bottom: 5px;
    padding-right: 6px;
}
.kinds {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 462px;
    padding-top: 18px;
    border: 0px;
    padding-bottom: 5px;
}
.reduce-people,
.add-people,
.count {
    border: 0px;
    width: 38px;
    height: 38px;
    padding-bottom: 6px;
    padding-left: 5px;
}
.hotel-search input:focus {
    background-color: var(--basic-white);
    border: 2px solid var(--basic-whitetwo);
}
.inputs-one {
    margin: 0 auto;
    padding-top: 55px;
}
.inputs-two {
    margin: 0 auto;
    padding-top: 29px;
}
.icon-calendar::after {
    content: "";
    position: absolute;
    width: 21px;
    height: 23px;
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
    transform: translate(-135%, 30%);
}
.icon-calendar:hover::after {
    background-image: url("../img/calendar-hover.svg");
}
.icon-calendar:active::after {
    background-image: url("../img/calendar-active.svg");
}
.reduce-people::before {
    position: absolute;
    transform: translate(-50%, -70%);
    content: url("data:image/svg+xml,%3Csvg width='12' height='3' viewBox='0 0 12 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='3' fill='%23A9A9A9'/%3E%3C/svg%3E%0A");
}
.add-people::before {
    content: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.23086 6.76932V11H6.76932V6.76932H11V4.23086H6.76932V0H4.23085V4.23086H0V6.76932H4.23086Z' fill='%23A9A9A9'/%3E%3C/svg%3E");
}
.reduce-people:hover::before {
    content: url("data:image/svg+xml,%3Csvg width='12' height='3' viewBox='0 0 12 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='3' fill='black'/%3E%3C/svg%3E%0A");
}
.add-people:hover::before {
    content: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.23086 6.76932V11H6.76932V6.76932H11V4.23086H6.76932V0H4.23085V4.23086H0V6.76932H4.23086Z' fill='black'/%3E%3C/svg%3E%0A");
}
.reduce-people:active::before {
    content: url("data:image/svg+xml,%3Csvg width='12' height='3' viewBox='0 0 12 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='3' fill='%2381B3D2'/%3E%3C/svg%3E ");
}
.add-people:active::before {
    content: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.23086 6.76932V11H6.76932V6.76932H11V4.23086H6.76932V0H4.23085V4.23086H0V6.76932H4.23086Z' fill='%2381B3D2'/%3E%3C/svg%3E%0A");
}
.dates::placeholder,
.dates::placeholder {
    line-height: 38px;
}
.find-hotel {
    background-color: var(--basic-blue);
    width: 458px;
    height: 58px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--basic-white);
    border: 0px;
    margin: 55px;
    margin-top: 32px;
}
.find-hotel:hover {
    background-color: var(--basic-bluetwo);
}
.find-hotel:active {
    background-color: var(--basic-activeblue);
    color: var(--basic-white-opy-03);
}
.links {
    position: absolute;
    bottom: 0;
}
.links-and-information {
    width: 1200px;
    background-color: var(--basic-white);
    background: var(--basic-footer-opy-09);
    margin: 0 auto;
}
.footer-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40%;
    align-items: flex-start;
    margin-top: 21px;
}
.visitsedona {
    margin-top: 2px;
    padding-left: 168px;
    margin-bottom: 0px;
}
.tel {
    margin: 0px;
    padding-left: 125px;
    padding-top: 10px;
}
.social-networks-links {
    display: flex;
    width: 20%;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-left: 0;
    position: relative;
}
.line-twitter,
.line-youtube,
.line-facebook {
    padding-top: 36px;
    padding-bottom: 40px;
    padding-left: 2px;
}
.line-youtube {
    padding-left: 5px;
}
.line-facebook {
    padding-left: 3px;
}
.line-twitter{
    padding-right: 3px;
}
.copyrights {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    padding-left: 143px;
}
.links-and-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--basic-black);
}
.social-network-twitter {
    display: block;
    position: relative;
    background: var(--basic-blue);
    width: 46px;
    height: 48px;
    margin: 0 auto;
}
.social-network-twitter::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("../img/twitter.svg");
    width: 17px;
    height: 15px;
    text-align: center;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.social-network-facebook {
    display: block;
    position: relative;
    background: var(--basic-blue);
    width: 46px;
    height: 48px;
}
.social-network-facebook::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/fb-icon.svg");
    width: 20px;
    height: 22px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.social-network-facebook:hover,
.social-network-youtube:hover,
.social-network-twitter:hover {
    background-color: var(--basic-bluetwo);
}
.social-network-facebook:active,
.social-network-youtube:active,
.social-network-twitter:active {
    background-color: var(--basic-activeblue);
    color: var(--basic-blue);
}
.social-network-facebook:active::after,
.social-network-youtube:active::after,
.social-network-twitter:active::after {
    opacity: 0.3;
}
.social-network-youtube {
    display: block;
    position: relative;
    background: var(--basic-blue);
    width: 46px;
    height: 48px;
}
.social-network-youtube::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/youtube.svg");
    width: 20px;
    height: 18px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.webby {
    color: var(--basic-black);
}
.webby::after {
    content: "";
    position: absolute;
    background-image: url("../img/logo-htmlacademy.svg");
    width: 114px;
    height: 40px;
    right: 138px;
    transform: translateY(-25%);
}
.webby:hover::after {
    position: absolute;
    width: 114px;
    height: 40px;
    right: 138px;
    content: url("../img/logo-html-hover.svg");
}
.webby:active::after {
    position: absolute;
    width: 114px;
    height: 40px;
    right: 138px;
    content: url("../img/logo-html-press.svg");
}
.copyrights-links {
    position: relative;
    padding-right: 261px;
}
.sorting-options,
.raising,
.lowering,
.hotels-navigation,
.links-and-information li {
    list-style: none;
}
.variations {
    display: grid;
    grid-template-columns: 20% 20% 60%;
    background: var(--basic-black) url("../img/innerBackgroundJPG.jpg");
    background-image: no-repeat;
    height: 217px;
}
.infrastructure {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-left: 72px;
}
.type-of-apartment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-left: 86px;
}
.price-per-day {
    display: grid;
    margin: 0;
    padding: 0;
    padding-left: 330px;
    position: relative;
}
.priceperday {
    width: 50%;
    margin: 0;
    padding: 0;
    height: 30px;
    border: none;
    background: none;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1px;
    padding-left: 4px;
}
.thirdline::after {
    position: absolute;
    top: 5px;
    left: 50%;
    height: 24px;
    content: "";
    border: 1px solid var(--basic-white);  
}
.price-per-day input::placeholder {
    color: var(--basic-white);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
}
.white-font {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
    padding-left: 15px;
}
.white-font-two {
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-white);
    justify-content: center;
    align-items: center;
}
.firstline,
.secondline {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
.secondline {
    padding-left: 29px;
    padding-bottom: 25px;
}
.firstline {
    padding-left: 26px;
    padding-bottom: 25px;
}
.thirdline {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #ffffff;
    border-radius: 2px;
    height: 38px;
    margin-bottom: 20px;
    width: 317px;
    justify-content: space-evenly;
}
.equalizer {
    position: relative;
    width: 317px;
    display: grid;
    align-items: center;
}
.sort-price-from {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--basic-white);
    border-radius: 100%;
    position: absolute;
    top: -10px;
}
.sort-price-to {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--basic-white);
    border-radius: 100%;
    position: absolute;
    top: -10px;
    right: 45px;
}
.sort-price-from:hover {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--basic-white);
    border-radius: 100%;
    position: absolute;
    top: -12px;
}
.sort-price-to:hover {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--basic-white);
    border-radius: 100%;
    position: absolute;
    top: -12px;
    right: 40px;
}
.sorting-prices {
    height: 2px;
    background-color: var(--basic-white);
    margin: 0;
    margin-bottom: 33px;
    position: relative;
    width: 317px;
}
.sorting-prices::after {
    content: "";
    position: absolute;
    height: 100%;
    background-color: var(--basic-grey);
    top: 0;
    right: 0;
    width: 42px;
}
.captions,
.captions-one {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}
.captions {
    padding-left: 0px;
}
.captions-two {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
    margin: 0;
    padding-top: 26px;
    padding-bottom: 10px;
}
.infrastructure label::before,
.type-of-apartment label::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-calm.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 50px;
}
.infrastructure input:checked + label::before,
.type-of-apartment input:checked + label::before {
    background-image: url("../img/checkbox-checked-calm.svg");
}
::-webkit-input-placeholder {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
}
.show {
    width: 137px;
    height: 36px;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    color: var(--basic-white);
    background-color: transparent;
    text-transform: uppercase;
    margin-bottom: 40px;
    justify-self: center;
    margin-right: 9px;
    padding-bottom: 3px;
}
.show:hover {
    background-color: var(--basic-white);
    color: var(--basic-black);
}
.found {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    align-items: center;
    text-transform: uppercase;
    color: var(--basic-black);
}
.sorting-box {
    width: 100%;
    height: 86px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.options-to-sort{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    justify-content: flex-start;
    width: 80%;
}
.for-ptice-sortings{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}
.found {
    padding-top: 8px;
    padding-left: 73px;
}
.sortings {
    padding-top: 15px;
    padding-left: 46px;
}
.price-one {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-blue);
    padding-top: 18px;
    padding-right: 20px;
    padding-left: 41px;
}
.active {
    color: var(--basic-blue);
}
.type-one {
    text-decoration: underline dotted;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    padding-top: 17px;
    padding-left: 13px;

}
.raiting-one {
    text-decoration: underline dotted;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    padding-top: 18px;
    padding-left: 33px;
}
.sorting-buttons-up {
    padding-top: 90px;
    margin-left: 63px;
}
.sorting-buttons-down {
    padding-top: 90px;
    margin-left: 11px;
}
.sortings,
.sorting-options {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}
.type-one,
.raiting-one {
    opacity: 0.3;
    color: var(--basic-black);
}
.raiting-one:hover,
.type-one:hover,
.price-one:hover {
    color: var(--basic-blue);
}
.raiting-one:active,
.type-one:active,
.price-one:active {
    color: var(--basic-black);
    opacity: 1;
}
fieldset {
    border:0 none;
 }
.sorting-buttons-up {
    width: 10px;
    height: 11px;
    background-image: url("../img/icon-up.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    background-color: var(--basic-white);
}
.sorting-buttons-down {
    width: 10px;
    height: 11px;
    background-image: url("../img/icon-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    background-color: var(--basic-white);
}
.sorting-buttons-up:hover {
    width: 10px;
    height: 11px;
    background-image: url("../img/icon-uphover.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.sorting-buttons-down:hover {
    width: 10px;
    height: 11px;
    background-image: url("../img/icon-downhover.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.sorting-buttons-up:active {
    width: 10px;
    height: 11px;
    background-image: url("../img/icon-upactive.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.sorting-buttons-down:active {
    width: 10px;
    height: 11px;
    background-image: url("../img/icon-downactive.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.hotels-navigation {
    display: grid;
    padding-left: 0;
    margin: 0;
}
.hotels-navigation li {
    width: 1200px;
    height: 150px;
    padding-top: 25px;
}
.hotels {
    display: grid;
    align-items: stretch;
}
.choices {
    width: 1200px;
    height: 150px;
    display: grid;
    grid-template-columns: 19% 9% 14% 58%;
    grid-template-rows: 33% 33% 33%;
}
.hotel-img {
    grid-column: 1;
    grid-row: 1/4;
    justify-self: end;
    padding-right: 20px;
    padding-top: 5px;
}
.hotel {
    grid-column: 2/4;
    grid-row: 1;
    align-self: top;
    justify-self: left;
    margin: 0;
}
.type-of-hotel {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: left;
    margin-bottom: 75px;
    margin-left: 8px;
}
.price {
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    justify-self: left;
    padding-left: 7px;
    margin-bottom: 77px;
    margin-left: 9px;
}
.more-info {
    grid-column: 2;
    grid-row: 3;
    align-self: center;
    justify-self: left;
}
.order-offer {
    grid-column: 3;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    margin-bottom: 80px;
    margin-left: 7px;
}
.stars-one {
    display: grid;
    grid-template-columns: 25px 25px 25px 25px;
    grid-template-rows: 1;
    align-self: center;
    justify-content: right;
    margin-right: 64px;
    padding-bottom: 20px;
}
.stars-two {
    display: grid;
    grid-template-columns: 24px 24px 24px;
    grid-template-rows: 1;
    align-self: center;
    justify-content: right;
    margin-right: 64px;
    padding-bottom: 20px;
    padding-right: 2px;
}
.stars-three {
    display: grid;
    grid-template-columns: 25px 25px;
    grid-template-rows: 1;
    align-self: center;
    justify-content: right;
    margin-right: 64px;
    padding-bottom: 20px;
    padding-right: 0px;
}
.rating-stars {
    grid-column: 4;
    grid-row: 3;
    align-self: center;
    justify-self: right;
    margin-right: 73px;
    margin-bottom: 80px;
    display: block;
    width: 110px;
    height: 27px;
    color: var(--basic-raiting);
    background-color: var(--basic-lightgrey);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
}
.star-icon {
    width: 20px;
    height: 20px;
}
.star-icon::after{
    content: "";
    position: absolute;
    width: 19px;
    height: 17px;
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
h3.hotel {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    padding-left: 8px;
}
h3.hotel:hover {
    color: var(--basic-blue);
}
h3.hotel:active {
    color: var(--basic-black);
    opacity: 0.3;
}
.type-of-hotel,
.price {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-onemore-black);
}
.more-info {
    display: block;
    width: 110px;
    height: 27px;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 27px;
    margin-left: 9px;
    margin-bottom: 80px;
}
.more-info:hover {
    background-color: var(--basic-bluetwo);
}
.more-info:active {
    background-color: var(--basic-activeblue);
    color: var(--basic-white-opy-03);
}
.order-offer {
    display: block;
    width: 142px;
    height: 27px;
    background-color: var(--basic-deepgrey);
    color: var(--basic-white);
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 27px;
}
.order-offer:hover {
    background-color: var(--basic-brown);
}
.order-offer:active {
    background-color: var(--basic-browny);
    color: var(--basic-white-opy-03);
}
.links-1 {
    padding-top: 3px;
}
.tel {
    color: var(--basic-black);
}