:root {
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --basic-blue: #81B3D2;
    --basic-onemore-black: #333333;
    --basic-grey: #A9A9A9;
    --basic-lightgrey: #F2F2F2;
    --basic-middleblue: #23A9E1;
    --basic-lightblue: #81B3D3;
    --basic-chocolateblack: #231F20;
    --basic-cacaocolor: #491213;
    --basic-deepgrey: #766357;
    --basic-deepgraytwo: #766458;
    --basic-orange: #DC6243;
    --basic-middlegrey: #EEEEEE;
    --basic-lightorange: #F49774;
    --basic-rose: #F4B1A4;
    --basic-brown: #604E43;
    --basic-browny: #503E33;
    --basic-greytwo: #EBEBEB;
    --basic-whitetwo: #E5E5E5;
    --basic-bluetwo: #669EC0;
    --basic-activeblue: #5496BD;
    --basic-white-opy-03: rgb(255, 255, 255, 0.3);
    --basic-raiting: #666666;
  }
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
body {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
  }
            /*HEADER*/
a {
    text-decoration:none;
}
img{
    max-width: 100%;
    height: auto;
  }
.main-navigation{
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    background-color: transparent;
}
/*НАВИГАЦИЯ В ШАПКЕ*/
.site-navigation {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-left: 0;
    justify-content: space-around;
    background-color: var(--basic-white);
    color: var(--basic-black);
    list-style: none;
    max-width: 1200px;
    height: 56px;
  }
.logo-img{
    position: absolute;
    top: 0;
    left: 700px;
    left: 50%;
    transform: translateX(-50%);
}
.welcome-background{
    width: 1200px;
    height: 509px;
    display: block;
    text-align: center;
}
.welcome-background .welcome-main{
    padding-top: 77.35px;
    background: no-repeat;
    width: 456.65px;
    height: 350.88px;
    display: inline-block;
    margin: 0 auto;
}
.main-navigation a:hover{
    color: var(--basic-lightblue);
}
.main-navigation a:active{
    color: var(--basic-black);
    opacity: 0.3;
}
.nav-link:visited{
    color: var(--basic-black);
}
            /*BODY*/
/*СЕДОНА - НЕБОЛЬШОЙ ГОРОДОК В АРИЗОНЕ*/
.welcome-background{
    background-image: url("../img/background.jpg");
    width: 1200px;
    height: 509px;
}
.motto{
    padding-top: 42.5px;
    }
.motto p{
    padding-top: 14px;
    color: var(--basic-onemore-black);
}
/*РАССМОТРИМ 5 ПРИЧИН*/
p.five-reasons{
    font-style: normal;
    font-weight: normal;
}
.features{
    text-align: center;
    padding-bottom: 51px; 
}
/*НАСТОЯЩИЙ ГОРОДОК, БЛОК №1, СПРАВА КАРТИНКА*/
.reasons-two
{
    display: flex;
    width: 1200px;
    height: 256px;
}
/*КАРТИНКА НАСТОЯЩИЙ ГОРОДОК*/
.reasons{
    display: flex;
    order: (-1);
    width: 1200px;
    height: 256px;
}
.reason-one,
.else-reason{
    width: 400px;
    height: 256px;
    background-color: var(--basic-blue);
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}
.first-picture-of-reason{
    background-image: url("../img/trueCity.png");
    width: 800px;
    height: 256px;
}
/*КАРТИНКА МОСТ ДЬЯВОЛА*/
/*не отображается!!!!!*/
.second-picture-of-reason{
    order: -1;
    background-image: url("../img/devilsBrige.png");
    width: 800px;
    height: 256px;
}
/*ЗАГОЛОВКИ №1 и №2*/
.explanations
{
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 47px;
    color: var(--basic-white);
}
/*СПАНЫ С БЕЛЫМИ ЦИФРАМИ №1 и №2*/
.numbers{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 25px;
    display: inline-block;
    width: 100%;
    color: var(--basic-white);
}
.numbers-other{
    text-align: center;
    color: var(--basic-onemore-black);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    text-align: center;
    width: 100%;
}
/*ЗАВЛЕКУХИ В ПРИЧИНАХ №1 И №2*/
.attractives{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 23px;
    color: var(--basic-white);
}
/*БЛОК С ЖИЛЬЕМ ЕДОЙ И СУВЕНИРАМИ*/
.entertainment ul{
    margin: 0 auto;
    padding-left: 0;
}
/*убрал буллиты в списке секции*/
.recommended,
.positives
{
    list-style: none;
}
/*h3 ЗАГОЛОВКИ ДЛЯ ВСЕХ СЕКЦИЙ - ЖИЛЬЕ ЕДА и Т.Д.*/
.topics-first{
    padding-top: 20%;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.topics{
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
/*РАЗМЕЩАЕМ ИКОНКИ SVG*/
/*как и всегда - ничего не отображается!!!*/
.entermended{
    display: flex;
    align-content: stretch;
    margin: 0 auto;
    width: 1200px;
    height: 330px;
}
.recommended{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    height: 330px;
}
.recommended:nth-child(1)::before{
    padding-top: 10%;
    content: "";
    position: absolute;
    background-image: url("../img/houseIcon.svg");
    width: 75px;
    height: 72px;
    background-repeat: no-repeat;
}
.recommended:nth-child(2)::before{
    padding-top: 10%;
    content: "";
    position: absolute;
    background-image: url("../img/food.svg");
    width: 75px;
    height: 72px;
    background-repeat: no-repeat;
}
.recommended:nth-child(3)::before{
    padding-top: 11%;
    content: "";
    position: absolute;
    background-image: url("../img/gift.svg");
    width: 75px;
    height: 72px;
    background-repeat: no-repeat;
}
.positives-more{
    background-color: var(--basic-middlegrey);
    width: 1200px;
    height: 256px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-left: 0;
}
/*РЕКОМЕНДАЦИИ ПОД ЗАГОЛОВКАМИ*/
.motivation{
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-onemore-black);
}
/*ЗАИНТЕРЕСОВАЛИСЬ?*/
.invitation{
    text-align: center;
    color: var(--basic-black);
    font-size: 30px;
    line-height: 24px;
}
/*Укажите предполагаемые даты поездки*/
.planningDates{
    text-align: center;
    color: var(--basic-black);
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
}
/*КНОПКА ПОИСК ГОСТИНИЦЫ*/
button.searching{
    min-width: 568px;
    min-height: 86px;
    background-color: var(--basic-deepgrey);
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 0 auto;
}
button.searching:hover{
    background-color: var(--basic-brown);
}
button.searching:active{
    background-color: var(--basic-browny);
    color: var(--basic-white-opy-03);
}
/*ФОРМА ПОИСКА ГОСТИНИЦЫ*/
.hotel-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--basic-white);
    min-width: 568px;
    min-height: 395px;
    text-align: center;
}
/*INPUT ДАТЫ ЗАЕЗДА, ВЫЕЗДА, ВЗРОСЛЫЕ И ДЕТИ*/
.hotel-search p{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
}
.hotel-search input:hover{
    background-color: var(--basic-greytwo);
}
/*САМИ ПОЛЯ ВВОДА ДАТ*/
.count{
    background-color: var(--basic-lightgrey);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-black);
    width: 114px;
    height: 38px;
}
.dates{
    background-color: var(--basic-lightgrey);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-black);
    width: 346px;
    height: 38px;
}
.dates-labels{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--basic-black);
}
.kinds{
    flex-direction: row;
    align-self: center;
    flex-wrap: wrap;
}
.hotel-search input:focus{
    background-color: var(--basic-white);
    border: 2px solid var(--basic-whitetwo);
}
/*ИКОНКИ КАЛЕНДАРИКОВ*/
.inputs::after{
    content: "";
    position: absolute;
    width: 21px;
    height: 23px;
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
}
.inputs::after:hover{
    background-color: var(--basic-black);
}
.inputs::after:active{
    background-color: var(--basic-blue);
}
/*МИНУСИКИ И ПЛЮСИКИ*/
/*нужно настроить их прозрачность, так как очень ярко!!!*/
.reducePeople,
.addPeople{
    color: var(--basic-grey);
}
.reducePeople:hover,
.addPeople:hover{
    color: var(--basic-black);
}
.reducePeople:active,
.addPeople:active{
    color: var(--basic-blue);
}
/*КНОПКА "НАЙТИ"*/
.findHotel {
    background-color: var(--basic-blue);
    width: 458px;
    height: 58px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--basic-white)
}
.findHotel:hover{
    background-color: var(--basic-bluetwo);
}
.findHotel:active{
    background-color: var(--basic-activeblue);
    color: var(--basic-white);
    /*не пойму как сделать изменение цвета текста при нажатии*/
}
.locationMap {
    background-image: url("../img/map.png");
    width: 100%;
    height: 473px;
}
/*ПОЛЕ FOOTER*/
.links{
    width: 1200px;
    height: 120px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
/*#VISIT SEDONA + TEL.*/
.links_and_information{
    display: flex;
    align-items: flex-start;
    align-content: space-between;
    width: 1200px;
    height: 120px;
}
.links_and_information p{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--basic-black);
}
/*ФОН ПОЗАДИ СОЦСЕТЕЙ И ИХ АКТИВИЗАЦИЯ*/
/*как их теперь на активизацию выставлять???*/
.socialNetworksLinks {
    display: flex;
    width: 30%;
    height: 120px;
    list-style: none;
}
.socialNetworkTwitter{
    display: block;
    position: relative;
    background: var(--basic-blue);
    width: 46px;
    height: 48px;
    margin: 0 auto;
}
.socialNetworkTwitter::after{
    content: "";
    position: absolute;
    background-image: url("../img/twitter.svg");
    width: 17px;
    height: 15px;
    text-align: center;
}
.socialNetworkFacebook{
    display: block;
    background: var(--basic-blue);
    width: 46px;
    height: 48px;
}
.socialNetworkFacebook::after{
    content: "";
    position: absolute;
    background-image: url("../img/fb-icon.svg");
    width: 17px;
    height: 15px;
    text-align: center;
    background-image: no-repeat;
}
.socialNetworkYoutube{
    display: block;
    background: var(--basic-blue);
    width: 46px;
    height: 48px;
}
.socialNetworkYoutube::after{
    content: "";
    position: absolute;
    background-image: url("../img/youtube.svg");
    width: 17px;
    height: 15px;
    text-align: center;
}
/*WEBSITE BY*/
p.copyrights{
    display: flex;
    width: 30%;
    height: 120px;
    flex-direction: column;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
}
.copyrights::after{
    content: "";
    position: absolute;
    background-image: url("../img/logo-htmlacademy.svg");
    width: 113.98px;
    height: 39.78px;
}
/*ССЫЛКА НА HTML АКАДЕМИЮ*/
/*тут ещё может быть другой подход, нужно разобраться!!!*/
.copyrightsLinks:hover{
    background-color: var(--basic-bluetwo);
}
/*
.copyrightsLinks:active{
    opacity 0.3;
}
*/
/***********************/
/******INNER PAGE******/
/***********************/
/*сняты буллиты со списков на странице*/
.sorting-options,
.raising,
.lowering,
.hotels-navigation,
.links_and_information li
{
    list-style: none;
}
/*ФОРМA*/
.variations{
    display: flex;
    background-image: url("../img/innerBackgroundJPG.jpg");
    background-image: no-repeat;
    height: 217px;
    width: 100%
}
.white-font{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
}
/*ЗАГОЛОВКИ СЕКЦИЙ БРОНИРОВАНИЯ*/
.captions{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
}
.captions{
    color: var(--basic-white);
}
/*ЧЕКБОКСЫ*/
/*не доработал*/
input[type="checkbox"]{
    border: 2px solid;
    width: 23px;
    height: 23px;
    border-color: var(--basic-white);
    color: var(--basic-white);
}
/*стилизация автозаполнения*/
::-webkit-input-placeholder{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
}
/*КНОПКА "ПОКАЗАТЬ" И ЕЁ СОСТОЯНИЯ*/
.show{
    width: 137px;
    height: 36px;
    border: 2px solid var(--basic-white);
    box-sizing: border-box;
    border-radius: 2px;
    color: var(--basic-white);
    background-color: transparent;
    text-transform: uppercase;
}
.show:hover{
    background-color: var(--basic-white);
    color: var(--basic-black);
}
.found{
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    align-items: center;
    text-transform: uppercase;
    color: var(--basic-black);
}
/*СОРТИРОВОЧНЫЕ ЛИНИИ*/
.sortings,
.sorting-options{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}
/*СОРТИРОВКА ПО ЦЕНЕ*/
/*СОРТИРОВКА ПО ТИПУ*/
/*СОРТИРОВКА ПО РЕЙТИНГУ*/
.price-one,
.type-one,
.raiting-one{
    opacity: 0.3;
    color: var(--basic-black);
}
.raiting-one:hover,
.type-one:hover,
.price-one:hover
{
    color: var(--basic-blue);
}
.raiting-one:active,
.type-one:active,
.price-one:active{
    color: var(--basic-black);
    opacity: 1;
}
/*убираем рамки полю формы*/
fieldset {
    border:0 none;
 }
/*!ТРЕУГОЛЬНИКИ!*/
.raising::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 11px;
    background-image: url("../img/icon-up.svg");
}
.lowering::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 11px;
    background-image: url("../img/icon-down.svg");
}
.raising::after:hover{
    content: "";
    position: absolute;
    width: 10px;
    height: 11px;
    background-image: url("../img/icon-uphover.svg");
}
.lowering::after:hover{
    content: "";
    position: absolute;
    width: 10px;
    height: 11px;
    background-image: url("../img/icon-downhover.svg");
}
.sortPriceFrom::after:active{
    content: "";
    position: absolute;
    width: 10px;
    height: 11px;
    background-image: url("../img/icon-uphover.svg");
}
.sortPriceTo::after:active{
    content: "";
    position: absolute;
    width: 10px;
    height: 11px;
    background-image: url("../img/icon-downhover.svg");
}
/*ЗАГОЛОВКИ ОТЕЛЕЙ*/
h3.hotel{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}
h3.hotel:hover{
    color: var(--basic-blue);
}
h3.hotel:active{
    color: var(--basic-black);
    opacity: 0.3;
}
/*ТИП ОТЕЛЕЙ И ИХ ЦЕНЫ*/
.typeOfHotel,
.price{
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-onemore-black);
}
/*ССЫЛКА "ПОДРОБНЕЕ"*/
.more-info{
    display: block;
    width: 142px;
    height: 27px;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
}
.more-info:hover{
    background-color: var(--basic-bluetwo);
}
.more-info:active{
    background-color: var(--basic-activeblue);
    color: var(--basic-white-opy-03);
}
/*ССЫЛКА "ЗАБРОНИРОВАТЬ"*/
.order-offer{
    display: block;
    width: 142px;
    height: 27px;
    background-color: var(--basic-deepgrey);
    color: var(--basic-white);
    text-align: center;
}
.order-offer:hover{
    background-color: var(--basic-brown);
}
.order-offer:active{
    background-color: var(--basic-browny);
    color: var(--basic-white-opy-03);
}
/*РЕЙТИНГ*/
.ratingStars{
    display: block;
    width: 110px;
    height: 27px;
    color: var(--basic-raiting);
    background-color: var(--basic-lightgrey);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}