:root {
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --basic-blue: #81B3D2;
    --basic-onemore-black: #333333;
    --basic-grey: #A9A9A9;
    --basic-lightgrey: #F2F2F2;
    --basic-middleblue: #23A9E1;
    --basic-lightblue: #81B3D3;
    --basic-chocolateblack: #231F20;
    --basic-cacaocolor: #491213;
    --basic-deepgrey: #766357;
    --basic-deepgraytwo: #766458;
    --basic-orange: #DC6243;
    --basic-middlegrey: #EEEEEE;
    --basic-lightorange: #F49774;
    --basic-rose: #F4B1A4;
    --basic-brown: #604E43;
    --basic-browny: #503E33;
    --basic-greytwo: #EBEBEB;
    --basic-whitetwo: #E5E5E5;
    --basic-bluetwo: #669EC0;
    --basic-activeblue: #5496BD;
    --basic-white-opy-03: rgb(255, 255, 255, 0.3);
    --basic-raiting: #666666;
    --basic-background: #f2f2f2;
  }
::after { box-sizing: border-box; }
::before { box-sizing: border-box; }
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
body {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-background);
    background-position: top center;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  }
.container{
    background-color: var(--basic-white);
}
            /*HEADER*/
a {
    text-decoration:none;
}
img{
    max-width: 100%;
    height: auto;
  }
.main-navigation{
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    background-color: transparent;
}
.site-navigation li{
    width: 20%;
}
.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2)
{
    text-align: left;
}
.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4)
{
    text-align: right;
}
.site-navigation li:nth-child(1){
    padding-left: 63px;
}
.site-navigation li:nth-child(4){
    padding-right: 63px;
}
/*НАВИГАЦИЯ В ШАПКЕ*/
.site-navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    padding-left: 0;
    justify-content: space-around;
    background-color: var(--basic-white);
    color: var(--basic-black);
    list-style: none;
    max-width: 1200px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
.logo-img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.welcome-background .welcome-main{
    padding-top: 77.35px;
    background: no-repeat;
    width: 456.65px;
    height: 350.88px;
    display: inline-block;
    margin: 0 auto;
}
.main-navigation a:hover{
    color: var(--basic-lightblue);
}
.main-navigation a:active{
    color: var(--basic-black);
    opacity: 0.3;
}
.nav-link:visited{
    color: var(--basic-black);
}
            /*BODY*/
/*СЕДОНА - НЕБОЛЬШОЙ ГОРОДОК В АРИЗОНЕ*/
.welcome-background{
    background-image: url("../img/background.jpg");
    width: 1200px;
    height: 509px;
    display: block;
    text-align: center;
}
.motto{
    padding-top: 42.5px;
    }
.motto p{
    padding-top: 14px;
    color: var(--basic-onemore-black);
}
/*РАССМОТРИМ 5 ПРИЧИН*/
p.five-reasons{
    font-style: normal;
    font-weight: normal;
}
.features{
    text-align: center;
    padding-bottom: 51px; 
}
/*НАСТОЯЩИЙ ГОРОДОК, БЛОК №1, СПРАВА КАРТИНКА*/
.reasons-two
{
    display: flex;
    flex-wrap: wrap;
}
/*КАРТИНКА НАСТОЯЩИЙ ГОРОДОК*/
.reasons{
    display: flex;
    flex-wrap: wrap;
    order: (-1);
    width: 1200px;
    min-height: 256px;
}
.reason-one,
.else-reason{
    width: 400px;
    background-color: var(--basic-blue);
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}
.first-picture-of-reason{
    background-image: url("../img/trueCity.png");
    width: 800px;
}
/*КАРТИНКА МОСТ ДЬЯВОЛА*/
.second-picture-of-reason{
    order: -1;
    background-image: url("../img/devilsBrige.png");
    width: 800px;
    min-height: 256px;
}
/*ЗАГОЛОВКИ №1 и №2*/
.explanations
{
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 47px;
    color: var(--basic-white);
}
/*СПАНЫ С БЕЛЫМИ ЦИФРАМИ №1 и №2*/
.numbers{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 25px;
    display: inline-block;
    width: 100%;
    color: var(--basic-white);
}
.numbers-other{
    text-align: center;
    color: var(--basic-onemore-black);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    text-align: center;
    width: 100%;
}
/*ЗАВЛЕКУХИ В ПРИЧИНАХ №1 И №2*/
.attractives{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 23px;
    color: var(--basic-white);
}
/*БЛОК С ЖИЛЬЕМ ЕДОЙ И СУВЕНИРАМИ*/
.entertainment{
position: relative;
}
.entertainment ul{
    margin: 0 auto;
    padding-left: 0;
}
/*убрал буллиты в списке секции*/
.recommended,
.positives
{
    list-style: none;
}
/*h3 ЗАГОЛОВКИ ДЛЯ ВСЕХ СЕКЦИЙ - ЖИЛЬЕ ЕДА и Т.Д.*/
.topics-first{
    padding-top: 20%;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.topics{
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
/*РАЗМЕЩАЕМ ИКОНКИ SVG*/
.entermended{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 0 auto;
    width: 1200px;
    position: relative;
}
.recommended{
    justify-self: center;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    width: 33%;
    position: relative;
}
.recommended:nth-child(1)::before{
    content: "";
    position: absolute;
    background-image: url("../img/houseIcon.svg");
    width: 75px;
    height: 72px;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
}
.recommended:nth-child(2)::before{
    content: "";
    position: absolute;
    background-image: url("../img/food.svg");
    width: 75px;
    height: 72px;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
}
.recommended:nth-child(3)::before{
    content: "";
    position: absolute;
    background-image: url("../img/gift.svg");
    width: 75px;
    height: 72px;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
}
.positives-more{
    background-color: var(--basic-middlegrey);
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-left: 0;
}
/*РЕКОМЕНДАЦИИ ПОД ЗАГОЛОВКАМИ*/
.motivation{
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-onemore-black);
}
/*ЗАИНТЕРЕСОВАЛИСЬ?*/
.invitation{
    position: relative;
    text-align: center;
    color: var(--basic-black);
    font-size: 30px;
    line-height: 24px;
}
/*Укажите предполагаемые даты поездки*/
.planningDates{
    text-align: center;
    color: var(--basic-black);
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
}
/*КНОПКА ПОИСК ГОСТИНИЦЫ*/
button.searching{
    width: 568px;
    background-color: var(--basic-deepgrey);
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    padding: 30px;
    position: relative;
}
button.searching:hover{
    background-color: var(--basic-brown);
}
button.searching:active{
    background-color: var(--basic-browny);
    color: var(--basic-white-opy-03);
}
/*ФОРМА ПОИСКА ГОСТИНИЦЫ*/
.hotel-search{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: var(--basic-white);
    width: 568px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 78px;
    left: 50%;
    transform: translateX(-50%);
}
.locationMap{
    background-image: url("../img/map.png");
    width: 1199px;
    height: 473px;
}
/*INPUT ДАТЫ ЗАЕЗДА, ВЫЕЗДА, ВЗРОСЛЫЕ И ДЕТИ*/

.hotel-search p{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
}
.hotel-search input:hover{
    background-color: var(--basic-greytwo);
}
/*САМИ ПОЛЯ ВВОДА ДАТ*/
.count{
    background-color: var(--basic-lightgrey);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-black);
    width: 38px;
    height: 38px;
    border: 0px;
}
.dates{
    background-color: var(--basic-lightgrey);
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-black);
    width: 346px;
    height: 38px;
    border: 0px;
    text-transform: uppercase;
}
.dates-labels-one,
.dates-labels-two,
.dates-labels-children,
.dates-labels-adults
{
    width: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--basic-black);
    text-align: left;
}
.dates-labels-one,
.dates-labels-two
{
    padding-right: 10px;
}
.dates-labels-children{
    text-align: right;
    padding-right: 25px;
}
.kinds{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 458px;
    margin: 0 auto;
    padding-top: 30px;
}
.reducePeople,
.addPeople,
.count
{
    border: 0px;
    width: 38px;
    height: 38px;
    padding: 0;
}
.count{
    text-align: right;
}
.hotel-search input:focus{
    background-color: var(--basic-white);
    border: 2px solid var(--basic-whitetwo);
}
.inputs-one{
    margin: 0 auto;
    padding-top: 55px;
}
.inputs-two{
    margin: 0 auto;
    padding-top: 29px;
}
/*ИКОНКИ КАЛЕНДАРИКОВ
.inputs-one::after,
.inputs-two::after{
    content: "";
    position: absolute;
    width: 21px;
    height: 23px;
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
}
.inputs-one::after:hover,
.inputs-two::after:hover{
    background-color: var(--basic-black);
}
.inputs-one::after:active,
.inputs-two::after:active{
    background-color: var(--basic-blue);
}
*/
/*МИНУСИКИ И ПЛЮСИКИ*/

.reducePeople::before{
    position: absolute;
    transform: translate(-50%, -70%);
    content: url("data:image/svg+xml,%3Csvg width='12' height='3' viewBox='0 0 12 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='3' fill='%23A9A9A9'/%3E%3C/svg%3E%0A");
}
.addPeople::before{
    content: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.23086 6.76932V11H6.76932V6.76932H11V4.23086H6.76932V0H4.23085V4.23086H0V6.76932H4.23086Z' fill='%23A9A9A9'/%3E%3C/svg%3E");
}
.reducePeople:hover::before{
    content: url("data:image/svg+xml,%3Csvg width='12' height='3' viewBox='0 0 12 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='3' fill='black'/%3E%3C/svg%3E%0A");
}
.addPeople:hover::before{
    content: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.23086 6.76932V11H6.76932V6.76932H11V4.23086H6.76932V0H4.23085V4.23086H0V6.76932H4.23086Z' fill='black'/%3E%3C/svg%3E%0A");
}
.reducePeople:active::before{
    content: url("data:image/svg+xml,%3Csvg width='12' height='3' viewBox='0 0 12 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='3' fill='%2381B3D2'/%3E%3C/svg%3E ");
}
.addPeople:active::before{
    content: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.23086 6.76932V11H6.76932V6.76932H11V4.23086H6.76932V0H4.23085V4.23086H0V6.76932H4.23086Z' fill='%2381B3D2'/%3E%3C/svg%3E%0A");
}

/*КНОПКА "НАЙТИ"*/
.findHotel{
    background-color: var(--basic-blue);
    width: 458px;
    height: 58px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--basic-white);
    border: 0px;
    margin: 55px;
}
.findHotel:hover{
    background-color: var(--basic-bluetwo);
}
.findHotel:active{
    background-color: var(--basic-activeblue);
    color: var(--basic-white-opy-03);
}
/*ПОЛЕ FOOTER*/
.links_and_information{
    width: 1200px;
    background-color: var(--basic-white);
    margin: 0 auto;
}
.footer-wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40%;
    align-items: flex-start;
}
/*блок #Visit*/
.visitsedona{
    padding-top: 23px;
    padding-bottom: 9px;
    margin: 0;
    padding-left: 153px;
}
.tel{
    margin: 0px;
    padding-left: 111px;
}
.socialNetworksLinks{
    display: flex;
    width: 20%;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-left: 0;
    position: relative;
}
.lineTwitter,
.lineYoutube,
.lineFacebook
{
    padding-top: 36px;
    padding-bottom: 36px;
    padding-right: 10px;
}
.copyrights{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
}
.links_and_information{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--basic-black);
}
/*ФОН ПОЗАДИ СОЦСЕТЕЙ И ИХ АКТИВИЗАЦИЯ*/
.socialNetworkTwitter{
    display: block;
    position: relative;
    background: var(--basic-blue);
    width: 46px;
    height: 48px;
    margin: 0 auto;
}
.socialNetworkTwitter::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("../img/twitter.svg");
    width: 17px;
    height: 15px;
    text-align: center;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.socialNetworkFacebook{
    display: block;
    position: relative;
    background: var(--basic-blue);
    width: 46px;
    height: 48px;
}
.socialNetworkFacebook::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/fb-icon.svg");
    width: 17px;
    height: 15px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.socialNetworkFacebook:hover,
.socialNetworkYoutube:hover,
.socialNetworkTwitter:hover
{
    background-color: var(--basic-bluetwo);
}
.socialNetworkFacebook:active,
.socialNetworkYoutube:active,
.socialNetworkTwitter:active
{
    background-color: var(--basic-activeblue);
    color: var(--basic-blue);
}
.socialNetworkYoutube{
    display: block;
    position: relative;
    background: var(--basic-blue);
    width: 46px;
    height: 48px;
}
.socialNetworkYoutube::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/youtube.svg");
    width: 17px;
    height: 15px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.copyrights::after{
    content: "";
    position: absolute;
    background-image: url("../img/logo-htmlacademy.svg");
    width: 113.98px;
    height: 39.78px;
    right: 25%;
}
.copyrightsLinks::after:hover{
    content: "";
    position: absolute;
    background-image: url("../img/logo-html-hover.svg");
    width: 113.98px;
    height: 39.78px;
}
.copyrightsLinks{
    position: relative;
    padding-right: 261px;
}
/***********************/
/******INNER PAGE******/
/***********************/
/*сняты буллиты со списков на странице*/
.sorting-options,
.raising,
.lowering,
.hotels-navigation,
.links_and_information li
{
    list-style: none;
}
/*ФОРМA*/
.variations{
    display: flex;
    flex-wrap: wrap;
    background-image: url("../img/innerBackgroundJPG.jpg");
    background-image: no-repeat;
    height: 217px;
    align-content: stretch;
}
.infrastructure{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    padding-left: 72px;
}
.typeOfApartment{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    margin: 0;
    padding: 0;
    padding-left: 110px;
}
.pricePerDay{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    padding-left: 154px;
}
.white-font{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
}
.white-font-two{
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
}
.firstline,
.secondline{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 25px;
    position: relative;
}
.thirdline{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.sortingPrices{
    height: 2px;
    background-color: var(--basic-white);
    margin: 0;
    margin-bottom: 33px;
    position: relative;
    width: 316px;
}
.sortingPrices::after{
    content: "";
    position: absolute;
    height: 100%;
    background-color: var(--basic-grey);
    top: 0;
    right: 0;
    width: 40px;
}
/*ЗАГОЛОВКИ СЕКЦИЙ БРОНИРОВАНИЯ*/
.captions,
.captions-one
{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
    margin: 0;
    padding-top: 26px;
    padding-bottom: 24px;
}
.captions-two{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
    margin: 0;
    padding-top: 26px;
    padding-bottom: 10px;
}
/*ЧЕКБОКСЫ*/
/*не доработал*/
.priceperday {
    width: 150px;
    margin: 0;
    background: none;
}
.check_input{
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-calm.svg");
}

.check_input:checked + .check_box{
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 27px;
    background-image: url("../img/checkbox-checked-calm.svg");
}
.check_input:disabled + .check_box{
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-disabled.svg");
}
.check_input:checked:disabled + .check_box{
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-checked-disabled.svg");
}
/*стилизация автозаполнения*/
::-webkit-input-placeholder{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
}
/*КНОПКА "ПОКАЗАТЬ" И ЕЁ СОСТОЯНИЯ*/
.show{
    width: 137px;
    height: 36px;
    border: 2px solid var(--basic-white);
    box-sizing: border-box;
    border-radius: 2px;
    color: var(--basic-white);
    background-color: transparent;
    text-transform: uppercase;
}
.show:hover{
    background-color: var(--basic-white);
    color: var(--basic-black);
}
.found{
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    align-items: center;
    text-transform: uppercase;
    color: var(--basic-black);
}
/*блок "НАЙДЕНО"*/
.sortingBox{
    width: 100%;
    height: 86px;
    display: grid;
    grid-template-columns: 20% 9.5% 6.5% 6.5% 18.5% 39%;
    align-items: center;
    justify-content: center;
}
.found{
    display: grid;
    grid-column: 1/7;
    grid-row: 1;
    padding-left: 73px;
}
.sortings{
    grid-column: 2/7;
    grid-row: 1;
    padding-bottom: 6px;
}
.price-one{
    grid-column: 3/7;
    grid-row: 1;
    padding-bottom: 6px;
}
.type-one{
    grid-column: 4/7;
    grid-row: 1;
    padding-bottom: 6px;
    text-decoration: underline dotted;
}
.raiting-one{
    grid-column: 5/7;
    grid-row: 1;
    padding-bottom: 6px;
    text-decoration: underline dotted;
}
.sorting-buttons-up,
.sorting-buttons-down
{
    grid-column: 6;
    grid-row: 1;
}
.sorting-buttons-up{
    justify-self: right;
    margin-right: 85px;
}
.sorting-buttons-down{
    justify-self: right;
    margin-right: 73px;
}
/*СОРТИРОВОЧНЫЕ ЛИНИИ*/
.sortings,
.sorting-options{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}
/*СОРТИРОВКА ПО ЦЕНЕ*/
/*СОРТИРОВКА ПО ТИПУ*/
/*СОРТИРОВКА ПО РЕЙТИНГУ*/
.price-one,
.type-one,
.raiting-one{
    opacity: 0.3;
    color: var(--basic-black);
}
.raiting-one:hover,
.type-one:hover,
.price-one:hover
{
    color: var(--basic-blue);
}
.raiting-one:active,
.type-one:active,
.price-one:active{
    color: var(--basic-black);
    opacity: 1;
}
/*убираем рамки полю формы*/
fieldset {
    border:0 none;
 }
/*!ТРЕУГОЛЬНИКИ!*/
#raise::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 11px;
    background-image: url("../img/icon-up.svg");
}
#low::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 11px;
    background-image: url("../img/icon-down.svg");
}
#raise::after:hover{
    content: "";
    position: absolute;
    width: 10px;
    height: 11px;
    background-image: url("../img/icon-uphover.svg");
}
#low::after:hover{
    content: "";
    position: absolute;
    width: 10px;
    height: 11px;
    background-image: url("../img/icon-downhover.svg");
}
.sortPriceFrom::after:active{
    content: "";
    position: absolute;
    width: 10px;
    height: 11px;
    background-image: url("../img/icon-uphover.svg");
}
.sortPriceTo::after:active{
    content: "";
    position: absolute;
    width: 10px;
    height: 11px;
    background-image: url("../img/icon-downhover.svg");
}
/*СЕКЦИЯ ОТЕЛЕЙ*/
.hotels-navigation{
    display: grid;
    padding-left: 0;
}
.hotels-navigation li{
    width: 1200px;
    height: 150px;
}
.hotels{
    display: grid;
    align-items: stretch;
}
.choices{
    width: 1200px;
    height: 150px;
    display: grid;
    grid-template-columns: 20% 9% 13% 58%;
    grid-template-rows: 20% 20% 20%;
}
.hotel-img{
    grid-column: 1;
    grid-row: 1/4;
    justify-self: end;
    padding-right: 30px;
}
.hotel{
    grid-column: 2/4;
    grid-row: 1;
    align-self: top;
    justify-self: left;
    margin: 0;
}
.typeOfHotel{
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: left;
    margin: 0;
}
.price{
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    justify-self: left;
    padding-left: 7px;
    margin: 0;
}
.more-info{
    grid-column: 2;
    grid-row: 3;
    align-self: center;
    justify-self: left;
}
.order-offer{
    grid-column: 3;
    grid-row: 3;
    align-self: center;
    justify-self: center;
}
.starIcon{
    grid-column: 4;
    grid-row: 1;
}
.ratingStars{
    grid-column: 4;
    grid-row: 3;
    align-self: center;
    justify-self: right;
    margin-right: 73px;
}
/*ЗАГОЛОВКИ ОТЕЛЕЙ*/
h3.hotel{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}
h3.hotel:hover{
    color: var(--basic-blue);
}
h3.hotel:active{
    color: var(--basic-black);
    opacity: 0.3;
}
/*ТИП ОТЕЛЕЙ И ИХ ЦЕНЫ*/
.typeOfHotel,
.price{
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-onemore-black);
}
/*ССЫЛКА "ПОДРОБНЕЕ"*/
.more-info{
    display: block;
    width: 110px;
    height: 27px;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
}
.more-info:hover{
    background-color: var(--basic-bluetwo);
}
.more-info:active{
    background-color: var(--basic-activeblue);
    color: var(--basic-white-opy-03);
}
/*ССЫЛКА "ЗАБРОНИРОВАТЬ"*/
.order-offer{
    display: block;
    width: 142px;
    height: 27px;
    background-color: var(--basic-deepgrey);
    color: var(--basic-white);
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
}
.order-offer:hover{
    background-color: var(--basic-brown);
}
.order-offer:active{
    background-color: var(--basic-browny);
    color: var(--basic-white-opy-03);
}
/*РЕЙТИНГ*/
.ratingStars{
    display: block;
    width: 110px;
    height: 27px;
    color: var(--basic-raiting);
    background-color: var(--basic-lightgrey);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}